.blue {
    background-color: #337ab7
}

.panel-default>.panel-heading {
    background-color: #337ab7;
    color: white
}

.fa {
    color: #196422;
}

.jumbotron h1 {
    font-family: monospace;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}